body {
	text-align: center;
	color: darkblue;
	width: 900px;
	margin: auto;
	margin-top: 30px;
	border: 1px solid lightblue;
	font-family: helvetica;
}

.container {
	margin-top: 40px;
}

h1 {
	text-decoration: underline;
}

footer {
	font-size: small;
	position: fixed;
	bottom: 0;
	right: 0;
}

p {
	border: 1px solid lightblue;
	width: 600px;
	margin: auto;
	padding: 30px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}


.inDiv {
	background-color: lightblue;
	margin: 1px;
	float: left;
}

/* Buttons */

#clearGrid, #randomColor, #gridColor {
	background-color: #ffbbee;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	border:1px solid #e2edff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e5a8d6;
	margin-top: 40px;
}
#clearGrid:hover, #randomColor:hover, #gridColor:hover {
	background-color: #58c0ff;
}
#clearGrid:active, #randomColor:active, #gridColor:active {
	position:relative;
	top:1px;
}